{% macro player(player) %}
    <img src="/img/flag/{{ player.country }}.png"> <img src="/img/race/{{ player.race }}.gif"> <a
        href="/player/{{ player.id }}">{{ player.nickname }}</a>
{% endmacro %}