nav {
    margin-bottom: 10px;
}

.winner {
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

.my-table td, .my-table th {
    padding: 2px 5px 2px 5px;
}

.my-row {
    margin-bottom: 10px;
}

.score-input {
    max-width: 50px;
}

.sortable-table th {
    cursor: pointer;
}

.at-details-table {
    margin: 10px;
}

.at-details-table tr, .at-details-table td {
    background-color: #ffffff;
    border: none;
}